* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121721;
  color: white;
}

p {
  margin-block: 30px;
}

p:nth-child(1) {
  font-size: 16px;
  color: white;
}

p:nth-child(2) {
  font-size: 30px;
  color: yellow;
}

p:nth-child(3) {
  color: green;
  font-size: 50px;
}

input[type="checkbox"] {
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 1em;
  height: 1em;
  color: currentColor;
  border: 0.13em solid currentColor;
  border-radius: 0.2em;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: currentColor;
  left: 50%;
  top: 50%;
  scale: 0;
  opacity: 0;
  translate: -50% -50%;
  transition: scale 100ms ease-out, opacity 100ms ease-out;
}

input[type="checkbox"]:checked:before {
  scale: 1;
  opacity: 1;
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid white;
}

input[type="checkbox"]:disabled {
  color: #555;
  cursor: not-allowed;
}
